.header{
    height:82px;
    background-color: green;
}

.header-logo{
background-color: rgb(245, 245, 53);
font-size:36px;
float:left;
padding:20px

}

li{
list-style: none;
float: left;
padding:20px;
font-size: 15px;
}

.Form-Item {
margin-top: 20px;
margin-left: 20px;
background: -webkit-linear-gradient(to right, rgb(255, 124, 111), #ffc994);
background: linear-gradient(to right, rgb(255, 124, 111), #ffc994);
color: white;
font-weight: bold;
font-size: 20px;
text-align: center;
padding: 20px; 
clear: both; 
}

.Form-Item-Input {
height: 40px;
width: 100%; 
}

.Form-Item-label{
text-align: center;
}
form {
text-align: right;
}

